<section id="content">
  <div class="container">

    <div class="card">
      <div class="card-header ch-alt m-b-20">
        <h2>Tenants
          <small>Create and maintain white-labeled application tenants.</small>
        </h2>
        <a href="<%= new_tenant_path %>" class="btn bgm-red btn-float waves-effect"><i class="zmdi zmdi-plus"></i>
        </a>
      </div>

      <!-- <div class="table-responsive">
        <table id="grid-tenants" class="table table-striped">
          <thead>
            <tr>
              <th data-column-id="tenant_name" data-order="asc">Name</th>
              <th data-column-id="id" data-identifier="true">id</th>
              <th data-column-id="is_active" data-converter="yesno">Active?</th>
            </tr>
          </thead>
        </table>
      </div> -->

      <div class="table-responsive">
        <table id="grid-tenants" class="table table-striped">
        </table>
      </div>

    </div>

  </div>
</section>

<script type="text/javascript">
  var dataURL = "tenants.json"
  var callback = "utilities"
  var dataObject = {}
  requestData(dataURL,callback);

  // Request data for dashboard graphs and widgets
  function requestData(dataUrl,callback) {
    var datahttp = new XMLHttpRequest();
    datahttp.onreadystatechange = function() {
      if (datahttp.readyState === 4 && datahttp.status === 200) {
        switch (callback) {
          case "dashboard" :
            addDataToDom(JSON.parse(datahttp.responseText))
            break
          case "utilities" :
            createGrid(JSON.parse(datahttp.responseText))
            break
          default :
            addDataToDom(JSON.parse(datahttp.responseText))
        }
      }
    }
    datahttp.open("GET", dataUrl, false)
    datahttp.send()
  }

  // Add data for progress-by-utility table
  function createGrid(dataObject) {
    var el = document.getElementById("grid-tenants").innerHTML
    for (var key in dataObject) {
      switch (key) {
        case "headings" :
          el += "<thead><tr>"
          for (var heading in dataObject[key]) {
            el += `<th data-column-id="${heading}">${dataObject[key][heading]}</th>`
          }
          el += "</tr></thead>"
          break;
        case "utilities" :
          el += "<tbody>"
          for (var i = 0; i < dataObject[key].length; i++) {
            el += "<tr>"
            for (var columnData in dataObject[key][i]) {
              el += `<td>${dataObject[key][i][columnData]}</td>`
            }
            el += "</tr>"
          }
          el += "</tbody>"
          break;
        default :
          break;
      }
    }
    document.getElementById("grid-tenants").innerHTML = el
  }

</script>


<%= content_for :body_end do %>
<%= init_grid(
              "grid-tenants",
              url: "/tenants.json",
              primaryKey: "id",
              formatters: {

              },
              handlers: {
                click: { fn: :inspect, url: "/tenants", identifier: 'id'}
              }
              ) %>
              <% end %>
