<script type="text/javascript">
$(document).ready(function(){
  $(".email-button").click(function() {
    var email = "support@watertracker.com";
    var subject = "I need support";
    window.location = "mailto:"+email+"?subject="+subject;
  });
});
</script>
<section id="content">
  <div class="container">

    <div class="card col-md-8">
      <div class="card-header ch-alt">
        <h2>Contact Information
          <small>You can reach us with any of the methods listed below.  Click the mail icon to send us an email.
          </small>
        </h2>
      </div>
      <div class="card-body card-padding">
        <div class="pmo-contact">
          <ul>
            <li class="ng-binding"><i class="zmdi zmdi-phone"></i> 00971123456789</li>
            <li class="ng-binding"><i class="zmdi zmdi-email email-button"></i> support@watertracker.com</li>
            <li class="ng-binding"><i class="zmdi zmdi-facebook-box"></i> water.tracker
            </li>
            <li class="ng-binding"><i class="zmdi zmdi-twitter"></i> @watertracker
              (twitter.com/watertracker)
            </li>
            <li>
              <i class="zmdi zmdi-pin"></i>
              <address class="m-b-0 ng-binding">
                44 Morningside Road <br>
                Tybee Island, GA 30001 <br>
              </address>
            </li>
          </ul>
        </div>

        <div class="block-header">
          <%= image_tag "app/img/demo/map.png", class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div>
</section>
