<section id="main" data-layout="layout-1">
  <section id="content">
      <div class="container">
          <div class="block-header">
              <h2>Support Page </h2>
          </div>
      </div>
  </section>
</section>
