<section id="content">
  <div class="container container-alt">
    <div class="card">

      <div class="text-center card-header">
        <h2 class="f-400">PAYMENT MADE SIMPLE</h2>
        <p class="c-gray m-t-20 m-b-20">We offer a variety of support options to accommodate the level of support required for each client organization.  Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus.</p>
      </div>

      <div class="clearfix"></div>

      <div class="row m-t-25 card-body card-padding">
        <div class="col-sm-4">
          <div class="card pt-inner">
            <div class="pti-header bgm-amber">
              <h2>$25
                <small>| mo</small>
              </h2>
              <div class="ptih-title">Starter Pack</div>
            </div>

            <div class="pti-body">
              <div class="ptib-item">
                The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies.
              </div>
              <div class="ptib-item">
                De carne cerebro lumbering animata cervello corpora quaeritis
              </div>
              <div class="ptib-item">
                Summus thalamus brains sit​​
              </div>
              <div class="ptib-item">
                Morbo basal ganglia vel maleficia
              </div>
              <div class="ptib-item">
                Qui optic gland animated corpse
              </div>
            </div>

            <div class="pti-footer">
              <a href="" class="bgm-amber"><i class="zmdi zmdi-check"></i></a>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card pt-inner">
            <div class="pti-header bgm-green">
              <h2>$65
                <small>| mo</small>
              </h2>
              <div class="ptih-title">Popular Pack</div>
            </div>

            <div class="pti-body">
              <div class="ptib-item">
                Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.
              </div>
              <div class="ptib-item">
                Substantia nigra max brucks spinal cord
              </div>
              <div class="ptib-item">
                Medulla voodoo sacerdos locus coeruleus flesh eater
              </div>
              <div class="ptib-item">
                Evil braaiinns stalking monstra hypothalamus
              </div>
              <div class="ptib-item">
                De carne cerebro lumbering animata cervello
              </div>
            </div>

            <div class="pti-footer">
              <a href="" class="bgm-green"><i class="zmdi zmdi-check"></i></a>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card pt-inner">
            <div class="pti-header bgm-cyan">
              <h2>$660
                <small>| mo</small>
              </h2>
              <div class="ptih-title">Deluxe Pack</div>
            </div>

            <div class="pti-body">
              <div class="ptib-item">
                Cum horribilem walking dead resurgere de crazed sepulcris creaturis, zombie sicut de grave feeding iride et serpens. Pestilentia, shaun ofthe dead scythe animated corpses ipsa screams.
              </div>
              <div class="ptib-item">
                Brains mindless mortuis limbic cortex
              </div>
              <div class="ptib-item">
                De carne cerebro lumbering animata cervello
              </div>
              <div class="ptib-item">
                Evil braaiinns stalking monstra hypothalamus
              </div>
              <div class="ptib-item">
                Medulla voodoo sacerdos locus coeruleus flesh eater
              </div>
            </div>

            <div class="pti-footer">
              <a href="" class="bgm-cyan"><i class="zmdi zmdi-check"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
