<footer id="footer">
    <!-- Copyright &copy; 2015 Material Admin -->

    <ul class="wt-header">
      <li>Powered by</li>
      <li id="goldwater-logo" class="logo hidden-xs">
        <%= image_tag "Goldwater-Project_small_LOGO.png", class: "img-responsive" %>
      </li>
    </ul>
</footer>
