<div class="row">
    <div class="col-md-6">
    <%= render partial: 'users/send_broadcast' %>
    </div>
    <div class="col-md-6">
    <%= render partial: 'dashboard/admin/stats' %>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    </div>
</div>
